<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>About Page</title>

 </head>

<body>
<center>

<div class="row">
  <div><%= image_tag 'tusker_logo.gif' %></div>
  <div><%= link_to 'Home', root_path %></div>
</div>


</center>
</body>
</html>